#redirect-link {
    text-overflow: ellipsis;
    width: 50vw;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.loading-redirect-buttons-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    flex-direction: row;
    position: relative;
    width: 500px;
    margin-top: 17px;
}

.loading-redirect-buttons {
    width: 210px;
    height: 65px !important;
    position: absolute;
}

.redirect-buttons {
    margin-top: 10px;
}

.redirect-buttons > * {
    margin: 10px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.redirect-button-icon {
    margin-left: 0.5em;
}

.top-buttons {
    position: fixed !important;
    top: 10px;
    right: 15px;
}

.logout-button > * {
    padding: 1.3em !important;
}

.bookmark-button {
    align-items: center;
    display: flex;
}

.bookmark-button-chip {
    margin-right: 10px;
}

.Toastify > * {
    font-size: 1.1rem;
}
