.App {
    text-align: center;
}

.App-header {
    background-color: #d9d9d9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.fix-nav-hidden-content {
    padding-bottom: 200px;
}

.link-changed, .link-changed:visited, .link-changed:hover {
    text-decoration: none;
    color: blue;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

input[name=secret-code] {
    user-select: initial;
    -webkit-user-select: initial;
    cursor: initial;
}

pre {
    user-select: all;
    -webkit-user-select: all;
    cursor: initial;
}

.AccordionDetails-text {
    font-size: 0.6em;
    text-align: left;
}

.top-buttons {
    position: fixed !important;
    top: 10px;
    right: 15px;
}
